/* Default height for small devices */
#intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
 .bg-image{
    background-image: url('https://blog.deiser.com/hubfs/DEISER%20BLOG/Portadas/Portada_post_project_tracker.png');
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    
  

 }