h3{
    text-align: center;
    color:#090909;
    margin-bottom: 7px;
    font-size: 1.9rem;
  }
  .contain{
    background-color: beige;
    height: 557px;
    width: 810px;
    padding: 17px;
  }
  .cards{
    height: 520px;
    width: 603px;
    margin-left: 70px;
    background-color:#42a5f5;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
  
  }
.card-body input{
    width:395px;
}
.card-body{
    padding:1rem 5rem;
  }
